name: Continuous Deployment
on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Adds git user config for Hugging Face push
      - name: Configure git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global pull.rebase false

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Hugging Face Hub
        run: pip install huggingface_hub

      # This is the fix for 'hf-login: No such file or directory'
      - name: Add pip install location to PATH
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Deployment To Hugging Face
        env:
          HF: ${{ secrets.HF }}
        # Fixed the $HFs typo
        run: make deploy HF=$HF
