name: Continuous Integration
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions: write-all
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Fixes API rate limit
      - uses: iterative/setup-cml@v2
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Configures git for CML
      - name: Configure git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      # Uses stable Python 3.11
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      
      # Installs C-compiler
      - name: Install system build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential python3-dev cargo

      # Installs our "pinned" requirements
      - name: Install Packages
        run: |
          pip install --upgrade pip
          pip install --no-build-isolation -r requirements.txt

      # --- WE ARE KEEPING THE 'Format' STEP ---
      - name: Format
        run: make format

      # --- WE ARE KEEPING THE 'Train' STEP ---
      - name: Train
        run: make train

      - name: Evaluation
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make eval

      - name: Update Branch
        env:
          NAME: ${{ secrets.ADI }}
          EMAIL: ${{ secrets.ADI_MAIL }}
        run: make update-branch ADI=$NAME ADI_MAIL=$EMAIL
